/* Body */

body {
  font-size: 15px;
	font-family:  Courier New Gothic;
  line-height: 0.5em;
  padding: 0;
  margin: 0;
  background: url(../school_contact.jpg);
  background-size: cover;
}

/* Global */

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1, .btn {
  height: 38px;
  background: #00b3b3;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 90px;
  color: #ffffff;
}



.button_1:hover, .btn:hover {
  color: #cccccc;
  font-weight: normal;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 20px;
  min-height: 50px;
  border-bottom: #00b3b3 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin-top: 9px;
  margin-left: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}
header #logo h2 {
  margin-top: 9px;
  margin-left: 15px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #00b3b3;
}

header a:hover {
  color: #cccccc;
}



/* Boxes */

#boxes {
  margin-top: 50px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 110px;
}

/* Sidebar */

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 25px;
}

aside#questions {
  float: right;
  width: 25%;
  margin-top: 25px;
}

/* Article */

article#main-col {
  float: left;
  width: 65%;
  margin-top: 24px;
}

article#about {
  max-width: 500px;
  margin: auto;
  width: 100%;
  margin-top: 90px;
}

.contact-info {
  padding-left: 120px;
}

.widget {
  position: relative;
  top: 12.9px;
}

/* FAQ */

#faq-title {
  font-family: 'Playfair Display', serif;
  color: #00b3b3 ;
  font-size: 40px;
  text-align: center;
  margin-bottom: 55px;
  text-decoration: underline;
}


/* Start CSS of the accordion */

.accordion label {
  display:block;
  background-color: #eeeeee;
  padding: 0 15px;
  height: 3em;
  line-height: .5em;
  color: #424242;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #ffffff;
}
.accordion p {
  color: #424242;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.7em;
  opacity: 0;
  display: none;
  text-align: left;
  background-color: #fff;
  margin: 0px;
}
#tm1:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tm1 {
  display: none;
  position: relative;
}

#tm2:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tm2 {
  display: none;
  position: relative;
}
#tm3:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tm3 {
  display: none;
  position: relative;
}
#tm4:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tm4 {
  display: none;
  position: relative;
}
#tm5:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#tm5 {
  display: none;
  position: relative;
}

.arrow{
  color: #666666;
}




.main{
	max-width: 1200px;
	margin:auto;
}

.title{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.title h1{
	color:  #00b3b3;
	font-size: 35px;
}


.title.button{
	position: absolute;
	top:50%;
	left:60%;
 
  transform:translate(-50%,-50%);
}

.btn{
  
  border-radius: 10%;
	border: none;
	padding:30px ,60px;
	color: #fff;
	text-decoration: none;
	font-family: Courier New;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s;
}

.btn:hover{
  background-color: #fff;
  color:#000;
  box-shadow: 0 0 10px #00b3b3, 0 0 40px  #00b3b3,0 0 80px #00b3b3;
  transition-delay: .2s;
} 






/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


